[Unit]
Description=kittygram gunicorn daemon 

After=network.target 

[Service]

User=yc-user 

WorkingDirectory=/home/yc-user/mycats/backend/


ExecStart=/home/yc-user/mycats/backend/venv/bin/gunicorn --bind 0.0.0.0:8080 kittygram_backend.wsgi:application

[Install]

WantedBy=multi-user.target
